.header_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: grey;
}
.header_logo img {
  width: 8rem;
  height: 6rem;
  margin: 0.1rem;
}
.header_text h1 {
  font-size: 4rem;
  padding: 0.5rem;
}
.header_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0 5rem;
}
.header_nav h4 {
  color: white;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.header_nav h4:hover {
  color: black;
  transition: all 0.5s ease-in-out;
}
